* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

html {
    scroll-behavior: smooth;
}
 
/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}
  
h6 {
    font-weight: 700;
    font-size: 12px;
}
  
p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
  
.section-p1 {
    padding: 40px 80px;
}
  
.section-m1 {
    margin: 40px 0;
}
  
body {
    width: 100%;
}

.contact-page-header {
    background-image: url(../Assets/images/banner/banner_5.png);
    width: 100%;
    height: 40vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 14px;
}

.contact-page-header h1{
    color: #e3e6f3;
}

.contact-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contact-details .details {
    width: 40%;
}

.contact-details .details span, .form-details form span {
    font-size: 20px;
}

.contact-details .details h2, .form-details form h2 {
    font-size: 30px;
    line-height: 35px;
    padding: 20px 0;
}

.contact-details .details h3 {
    font-size: 26px;
    padding-bottom: 15px;
}

.contact-details .details li {
    list-style: none;
    display: flex;

}

.contact-details .details li .icon {
    color: #357960;
    font-size: 16px;
    padding-right: 22px;
    margin-top: 15px
}

.contact-details .details li .icon p {
    margin: 0;
    font-size: 16px;
}

.contact-details .map {
    width: 55%;
    height: 400px;
}

.contact-details .map iframe {
    width: 100%;
    height: 100%;
}

.form-details {
    display: flex;
    justify-content: space-between;
    margin: 30px;
    padding: 80px;
    border: 1px solid #e3e6f3;
}

.form-details form {
    width: 65%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-details form input, .form-details form textarea {
    width: 100%;
    padding: 12px 15px;
    outline: none;
    margin-bottom: 20px;
    border: 1px solid #e3e6f3;
}

.form-details form button {
    padding: 10px 20px;
    background-color: #1189bd;
    color: #fafafa;
    margin: 10px 0px 20px 0;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}

.form-details form button:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.form-details .people div{
    padding-bottom: 25px;
}

.form-details .people div p {
    margin: 0;
    font-size: 13px;
    line-height: 25px;
}

.form-details .people div p span {
    display: block;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
}