* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}
 
/* Global Styles */

h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}
  
h6 {
    font-weight: 700;
    font-size: 12px;
}
  
p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}
  
.section-p1 {
    padding: 40px 80px;
}
  
.section-m1 {
    margin: 40px 0;
}
  
body {
    width: 100%;
}

.hero {
    background-image: url("../Assets/images/header/image_1.png");
    height: 90vh;
    width: 100%;
    background-size: cover;
    background-position: top 25%, right 0;
    padding: 0 80px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hero h4 {
    padding-bottom: 18px;
}

.hero h1 {
    color: #357960;
}

.hero p {
    font-size: 20px;
}

.hero button {
    padding: 10px 20px;
    background-color: #357960;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}

.hero button:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.india {
    background-color: #e3e3f3;
    margin: 5px auto;
}

.india h1 {
    font-size: 40px;
    text-align: center;
}

.india img{
    width: 80px;
    position: absolute;
    margin-top: 5px;
    right: 28%
}

.feature {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* Features */

.feature .feature-box {
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    border: 2px solid #e3e6f3;
    border-radius: 10%;
    margin: 15px 0;
    transition: 0.3s ease;
}

.feature .feature-box img {
    max-width: 100%;
    margin-bottom: 10px;
}

.feature .feature-box:hover {
    background: #e3e6f3;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

/* Fetured Products */

.product-1 {
    text-align: center;
}

.product-1 .pro-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

.product-1 p {
    font-size: 20px;
}

.product-1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #e3e6f3;
    border-radius: 15px;
    margin: 15px 0;
    position: relative;
    transition: 0.5s ease;
}

.product-1 .pro img{
    width: 100%;
    border-radius: 15px;
}

.product-1 .pro:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
}

.product-1 .pro .des {
    text-align: start;
    padding: 10px 0;
}

.product-1 .pro .des span {
    color: #357960;
    font-size: 14px;
    font-weight: bold;
}

.product-1 .pro .des .star-icon {
    color: #f4ce14;
}

.product-1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 16px;
}

.product-1 .pro .des h4 {
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
}

.product-1 .pro .bag-icon {
    width: 20px;
    height: 20px;
    line-height: 40px;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #e3e6f3;
    color: #357960;
    border: 1px solid #3579602a;
    position: absolute;
    bottom: 20px;
    right: 10px;
    transition: 0.5s ease
}

.product-1 .pro .bag-icon:hover {
    transform: translateY(-5px)
}

/* Banner-Dad */

.banner-dad .container {
    width: 100%;
    height: 50vh;
}

.banner-dad .container .banner {
    width: 100%;
    height: 50vh;
    background-image: url(../Assets/images/banner/banner.png);
    background-size: cover;
    background-position: 60%;
    margin-top: 10px;
}

.banner-dad .container .banner .banner-text{
    margin: 20px;
    padding: 20px;
}

.banner-dad .container .banner .banner-text h2 {
    font-size: 80px;
    color: #e3e6f3;
    margin: 20px;
}

.banner-dad .container .banner .banner-text h1 {
    font-size: 120px;
    margin: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #fafafa
}

.banner-dad .container .banner .banner-text button {
    padding: 10px 20px;
    background-color: #f4ce14;
    color: #1a1a1a;
    margin: 20px;
    font-weight: bold;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}

.banner-dad .container .banner .banner-text button:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.sm-banner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}

.sm-banner .banner-1{
    background-image: url(../Assets/images/banner/banner_2.png);
    width: 49%;
    height: 39vh;
    background-size: cover;
    background-position: 60%;
}

.sm-banner .banner-2{
    background-image: url(../Assets/images/banner/banner_3.png);
    width: 49%;
    height: 39vh;
    background-size: cover;
    background-position: 60%;
}

.sm-banner .banner-box h4 {
    margin-top: 20px;
    margin-left: 20px;
    font-size: 40px;
    color: #fdfdfd
}

.sm-banner .banner-1 button {
    padding: 10px 20px;
    background-color: #f4ce14;
    color: #1a1a1a;
    margin: 40px 0px 20px 20px;
    font-weight: bold;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}

.sm-banner .banner-1 button:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.sm-banner .banner-2 button {
    padding: 10px 20px;
    background-color: #1189bd;
    color: #fdfdfd;
    margin: 40px 0px 20px 20px;
    font-weight: bold;
    font-size: 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
    transition: 0.5s ease;
}

.sm-banner .banner-2 button:hover {
    transform: translateY(-5px);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}

.news-letter .form {
    display: flex;
    width: 40%;
}

.news-letter {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-image: url(../Assets/images/banner/banner_4.png);
    background-repeat: no-repeat;
    background-position: 20% 30%;
}

.news-letter h4 {
    font-size: 30px;
    font-weight: 800;
    color: #fafafa;
}

.news-letter p {
    font-size: 20px;
    font-weight: 500;
    color: #e3e6f3;
}

.news-letter p span {
    color: #f4ce14;
    font-weight: 700;
}

.news-letter input {
    height: 3.125rem;
    padding: 0 0.125em;
    font-size: 16px;
    width: 80%;
    border: 1px solid transparent;
    border-radius: 4px;
    outline: none;
}

.news-letter button {
    padding: 10px 10px;
    background-color: #f4ce14;
    color: #1a1a1a;
    margin-left: 5px;
    font-size: 16px;
    font-weight: 600;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}
